body {
	background-image: url(../image/shape.png);
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	font-family: 'Cormorant Infant', serif;
	font-size: 58px;
}
.container {
	max-width: 1170px!important;
}

h2 {
	font-family: 'Cormorant Infant', serif;
	font-size: 36px;
	font-style: italic;
	font-weight: 700;
}

h3 {
	font-family: 'Cormorant Infant', serif;
	font-size: 24px;
	font-style: italic;
}

h5 {
	font-family: 'Cormorant Infant', serif;
	font-weight: 700;
	font-style: italic;
}

p {
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	color: #777373;
}

hr {
	color: #cccccc;
}

ul li {
	font-family: 'PT Sans', sans-serif;
	list-style-type: none;
}


/*_____________HEADER_____________*/
.navbar {
	display: flex;
	justify-content: center;
}
.mr-auto, .mx-auto {
    text-align: center;
}
header p {
	font-style: italic;
	font-family: 'Cormorant Infant', serif;
}

.navbar-light .navbar-nav .nav-link {
	color: #000000;
	font-weight: 700;
}
.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.header-nav {
	border-top: 1px solid silver;
}

nav ul li {
	text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #48974c;
}


/*________ SECTION FIRST _________*/

#slider {
	margin-bottom: 30px;
}

.carousel-caption {
	background-color: #fafafa;
	width: 40%;
	color: #000;
	padding: 10px 20px;
	text-align: left;
	display: flex;
	align-items: center;
	margin-bottom: 5%;
	overflow: hidden;
}

.carousel-indicators {
	margin-left: 18%;
	margin-bottom: 3%;
}

.carousel-indicators li {
	border-radius: 100%;
	width: 10px;
	height: 10px;
}

.carousel-caption h1 {
	font-weight: 700;
	line-height: 0.8;
}

.carousel-caption p {
	font-family: 'PT Sans', sans-serif;
}


/*_________SECTION Second______________*/

.card-сonsecration {

	padding: 20px;
}

.card img {
	width: 100%;
}

.card-title {
	margin-top: 20px;
}

.card-сonsecration-lower {
	/* margin-top: 21%; */
	border: none;
	border-radius: 0;
}

.card-сonsecration-top {
	margin-bottom: 5%;
	border: none;
}

.card-сonsecration .data {
	color: #999999;
	font-size: 14px;
}

.card-сonsecration .data i {
	margin-right: 10px;
}

.card-сonsecration i {
	font-size: 20px;
	color: #cccccc;
	margin-left: 10px;
}

.card-сonsecration i:hover {
	color: #48974c;
}

.card-prayer {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid silver;
	width: 100%!important;
}

.card-prayer-line {
	border: none;
}


.page-link {
	height: 56px;
	width: 62px;
	color: #48974c;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0;
	margin-left: 10px;
}

.page-item.active .page-link {
	background: #48974c;
}


/*_______Section Third________*/

#building {
	background-image: url(../image/image4.png);
	background-repeat: no-repeat;
	height: 560px;
	background-size: cover;
	margin-top: 72px;
}


/*________SEction Fourth _________*/

#banner {
	margin-top: 70px;
}

.fon-white {
    background: #fafafa;
    height: 275px;
    width: 100%;
}

.fon-white-img {
	background-image: url(../image/image5.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
}
/* .fon-white-img img {
	width: 100%;
} */

.facebook {
	padding-top: 5%;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
}

.banner {
	font-weight: 700;
}


/*_____________FOOTER_______________*/

footer {
	margin-top: 70px;
	background: #404040;
	color: white;
	padding-top: 60px;
}

footer ul li {
	font-size: 16px;
	text-transform: uppercase;
}

footer li a:hover {
	color: #48974c;
	text-decoration: none;
}

footer li a {
	color: #fafafa;
}

footer .social-footer i {
	font-size: 25px;
	color: #cccccc;
	margin-left: 15px;
}

footer .social-footer i:hover {
	color: #48974c;
}
footer .rel {
	font-family: 'Cormorant Infant', serif;
	color: #fafafa;
}

footer .credits p {
	font-size: 14px;
	color: #999999;
}

footer .credits-img {
	margin-top: 42px;
	margin-right: 12%;
}


/*______Controls________*/

.navbar-light .navbar-nav .active>.nav-link {
	color: #48974c;
}

.paginator {
	margin-top: 35px;
}

.pages {
	border-radius: 0px;
	height: 54px;
	width: 54px;
	text-transform: uppercase;
	font-weight: 700;
	margin-left: 10px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	font-weight: 400;
}
.earlier i {
	color: white;
	position: relative;
	right: 12%;
	top: 3%;
}
.btn-outline-success {
	border-radius: 0px;
	height: 54px;
	width: 150px;
	text-transform: uppercase;
	font-weight: 700;
	margin-left: 10px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #48974c;
	font-weight: 700;
}

.pages:hover {
	color: #48974c;
	text-decoration: none;
	background: rgb(204, 246, 207);
}

.pages.active {
	background: #48974c;
	color: #fafafa;
}

.points {
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 2%;
	font-weight: 700;
}
.next, .previous {
	background: none;
	border: none;
	font-size: 30px;
}

.next:hover,
.previous:hover {
	background: none;
}

.card-prayer a {
	display: flex;
	align-items: center;
	color: #48974c;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
	position: relative;
	top: 10px;
}
.card-prayer a:hover {
	color: #467749;
}

.card-prayer a i {
	margin-right: 10px;
}

.earlier {
    position: absolute;
    background: #48974c;
    color: #fafafa;
	bottom: -13%;
    z-index: 10;
	letter-spacing: 1.5px;
}
/* .earlier-block {
	margin-left: 2.6%;
} */
.construction-progress {
	padding-left: 0!important;
	padding-right: 0!important;
	
}
.details-building {
	background: #48974c;
	color: #fafafa;
	height: 50px;
}
.form-building {
	display: flex;
	align-items: flex-end;
	width: 100%;
    margin-bottom: 25%;

}
.height-building {
	height: 560px;
}
form {
	background: #fafafa;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
}

label {
    width: 68%;
    padding-left: 10%;
    padding-right: 5px;
	font-size: 18px;
    padding-top: 1%;
}

footer ul li a {
	font-size: 14px;
}


/*__________Mixins__________*/



/*__________Mixins__________*/
/* @media(min-width: 1243px) {
	
	.earlier-bottom {
		display: none!important;
	}
		 */
		 @media (min-width: 768px) {
			.form-building {
				width: 100%!important;
				margin-top: 50%;
			}
	 	}
	@media(min-width: 1243px){
		.carousel-item img {
			height: 450px;
		}
	}
	@media(max-width: 1243px) {
	.carousel-item img {
		height: 400px;
	}
	.carousel-caption h1{
		font-size: 39px;
		line-height: 0.9;
	}
	.carousel-caption p{
		line-height: 1.5;
	}
	/* .earlier-bottom {
		display: none!important;	
	} */
	.nav-item {
		font-size: 16px;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (max-width:992px) {
	br {
		display: none;
	}
	.carousel-item img {
		height: 300px;
	}
	.carousel-caption {
		width: 350px;
	}
	.earlier-top {
		display: none!important;
	}
	.paginator {
		justify-content: center;
	}
	.carousel-caption h1 {
		font-size: 28px;
	}
	.carousel-caption p {
		font-size: 15px;
		line-height: 1.2;
	}
	#building {
		height: 360px;
	}
	
	.height-building {
		height: 100%;
	}
	/* .details-building {
		background: #48974c;
		color: #fafafa;
		font-size: 12px;
		height: 40px;
		width: 95px;
	} */
	
	.form-building {
		display: flex;
		align-items: flex-end;
		width: 100%;		
		margin-top: 90%;
	}
	form {
		background: #fafafa;
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
	}
	.details-building {
		height: 40px;
		font-size: 14px;
	}
	label {
		width: 68%;
		padding-left: 4%;
		padding-right: 2px;
		font-size: 13px;;
		padding-top: 1%;
	}
	.fon-white-top {
		margin-bottom: 20px;
	}.fon-white {
		height: 225px;
	}
	
	.facebook {
		text-align: center;
		padding-left: 0!important;
		padding-right: 0!important;
		padding-top: 20px;
	}
	footer {
		text-align: center;
	}
	footer .credits-img {
	display: none;
	}
}
@media (max-width:768px) {
	
	br {
		display: none;
	}
	h2 {
		font-size: 24px;
	}
	p {
		font-size: 12px;
		font-family: 'PT Sans', sans-serif;
	}
	.header-nav {
		border: none;
	}
	.carousel-item img {
		height: 250px;
	}
	.nav-item {
		font-size: 14px;
	}
	.card-prayer {
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.carousel-caption {
		display: block!important;
	}
	.carousel-caption h1 {
		font-size: 20px;
	}
	
	.carousel-caption p {
		font-size: 12px;
		line-height: 1.5;
	}
	.card-prayer p {
		font-size: 12px;
	}
	.card-prayer a {
		font-size: 15px;
	}
	.card-prayer a i {
		margin-right: 5px;
	}
	.card-prayer-line {
		border-bottom: 1px solid silver;
	}
	.fon-white {
		margin-bottom: 20px;
		margin-left: 0;
	}
	.card-сonsecration i {
		font-size: 15px;
		color: #cccccc;
		margin-left: 5px;
	}
	.paginator {
		display: flex;
		justify-content: center;
	}
	.earlier {
		display: none!important;
	}
	.btn-outline-success {
		height: 34px;
		width: 100px;
		font-size: 14px;
	}
	
	.details-building {
		background: #48974c;
		color: #fafafa;
		height: 40px;
	}
	.form-building {
		width: 44%;
		margin-top: 37%;
	}
	form {
		background: #fafafa;
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
	}
	label {
		width: 68%;
		padding-left: 10%;
		padding-right: 10px;
		font-size: 12px;
		padding-top: 1%;
	}
	.fon-white {
		height: 245px;
	}
	
	.fon-white-img {
	background-position: center;
		width: 100%;
		height: 70%;
	}
	.facebook {
		text-align: center;
		padding-left: 0!important;
		padding-right: 0!important;
		padding-top: 20px;
	}
	.construction-progress {
		justify-content: center;
	}
	footer  {
		text-align: center;
	}
	footer h2 {
		font-size: 20px;
	}
	footer ul {
		margin-right: 10%;
	}
	footer .social {
		margin-left: 10%;
	}
	.footersoc-block {
		display: flex;
		justify-content: center;
		margin-left: -7%;
	}
	footer .credits-img {
		display: none;
	}
	/* footer ul {
		text-align: center;
	}
	footer p {
		text-align: center;
	} */
}
@media(max-width: 576px) {
	h2 {
		font-size: 20px;
	}
	.carousel-item img {
		height: 200px;
	}
	.carousel-indicators {
		display: none!important;
	}
	.carousel-caption {
		display: block!important;
		background: none;
		color: #fafafa;
		text-align: center;
		width: 73%;
	}
	.carousel-caption h1 {
		font-size: 20px;
		margin-bottom: 0;
	}
	.carousel-caption p {
		font-size: 12px;
		line-height: 0.8;
		color: #fafafa;
		line-height: 1.1;
	}
	.card-сonsecration i {
		font-size: 13px;
		color: #cccccc;
		margin-left: 5px;
	}
	/* .form-building {
		margin-left: 34%;
	} */
	.pages {
		height: 40px;
		width: 35px;
		font-size: 14px;
	}
	.page-link {		
		height: 35px;
		width: 35px;
	}
	#building {
		height: 275px;
	}
	
	.details-building {
		height: 40px;
		width: 50%;
	}
	.form-building {
		width: 60%;
		margin-top: 37%;
	}
	form {
		background: #fafafa;
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
	}
	label {
		width: 68%;
		padding-left: 10%;
		padding-right: 10px;
		font-size: 11px;
		padding-top: 2%;
	}
}
@media(max-width: 426px) {
	.carousel-item img {
		height: 150px;
	}
		.carousel-caption {
		position: absolute;
		top: 2px;
		left: 0%;
		width: 100%;
		text-align: center;
	}
	.carousel-caption h1 {
		font-size: 20px;
	}
	.carousel-caption p {
		font-size: 12px;
	}
	/* .form-building {
		margin-left: 20%;
	} */
	.pages {
		height: 35px;
		width: 35px;
		font-size: 14px;
	}
	.page-link {		
		height: 30px;
		width: 30px;
		margin-left: 5px!important;
	}
	.details-building {
		height: 40px;
		width: 50%;
	}
	.form-building {
		width: 80%;
		margin-top: 37%;
	}
	form {
		background: #fafafa;
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
	}
	label {
		width: 68%;
		padding-left: 8%;
		padding-right: 10px;
		font-size: 12px;
		padding-top: 2%;
	}
}